.container {
    display: grid;
    grid-row: 1;
    justify-content: center;
}
.div0 {
    grid-row: 1;
}
div[class^="div"] {
    width: 30px;
    height: 30px;
    background-color: aqua;
    border: 1px solid lightgray;
}